---
import BaseLayout from "../layouts/BaseLayout.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import Hero from "../components/Hero.astro";
import BentoGrid from "../components/BentoGrid.astro";
import ParaSection from "../components/ParaSection.astro";
import WaitlistForm from "../components/WaitlistForm.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <ThemeToggle />
  <main>
    <Hero />
    <BentoGrid />
    <ParaSection />
    <WaitlistForm />
  </main>
  <Footer />
</BaseLayout>
